<h1>Bienvenue !</h1>
<p>Ceci est mon premier site réalisé avec Ruby on Rails.</p>
<p>Ceci est ma premiere variable et elle vaut : <%= @variable %>.</p>

<% if @variable == 42 %>
 <h3 style="color:green">super, la variable vaut 42</h2>
<% else %>
 <h2 style="color:red">Mince, la variable ne vaut pas 42</h2>
<% end %>

<p>Résultat obtenu grâce à une boucle</p>
<% @variable.times do |i| %>
  <%= i %>
<% end %>
